<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Mission to Mars Web Scraping</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>
    <!-- Jumbotron elements -->
    <div class="jumbotron jumbotron-fluid">
        <div class="container text-center">
            <header>
                <h1 class="display-4"><b>Mission to Mars</b></h1>
                <button type="button" class="btn btn-secondary btn-lg">
                    <a class="btn btn-secondary" href="/scrape" role="button">Scrape New Data</a>
                </button>
            </header>
        </div>
    </div>

    <!-- Latest NASA-Mars News Container-->
    <div class="col-md-12">
        <div class="row" id="mars-news">
            <div class="media">
                <div class="media-body">
                    <h3>Latest Mars News</h4>
                    <h5>{{db_pull.title}}</h5>
                    <p>{{db_pull.news_p}}</p>
                </div>
            </div>
        </div>
    </div>   
    <!-- <h3>{{db_pull.title}}</h3> -->

    <!-- #Use jinja filter on html table | & html boilerplate text -->
    {{db_pull.facts_table}}

</body>

</html>