<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mission to Mars Web Scraping</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <!-- Jumbotron elements -->
    <div class="jumbotron jumbotron-fluid">
        <div class="container text-center">
            <header>
                <h1 class="display-4"><b>Mission to Mars</b></h1>
                <button type="button" class="btn btn-secondary btn-lg">
                    <a class="btn btn-secondary" href="/scrape" role="button">Scrape New Data</a>
                </button>
            </header>
        </div>
    </div>

    <!-- Latest NASA-Mars News Container-->
    <div class="row" id="mars-news">
        <div class="col-md-12">
            <div class="media">
                <div class="media-body">
                    <h2>Latest Mars News</h2>
                    <h5>{{mars.title}}</h5>
                    <p>{{mars.news_p}}</p>
                    <hr>
                </div>
            </div>
        </div>
    </div>
    <!-- Featured Mars Image Container-->
    <div class="row" id="mars-photo">
        <div class="col-md-8">
            <div class="media-body">
                <h2>Featured Mars Image</h2>
                <img src={{ mars.image }} class="img-responsive" alt="JPL Featured Image">
            </div>
        </div>
        <!-- Mars Facts table Container-->
        <div class="col-md-4">
            <div class="media-body">
                <h2>Mars Facts</h2>
                {{mars.facts_table | safe}}
            </div>
        </div>
    </div>

    <!-- Mars Hemispheres  -->
    <div class="container text-center">
        <div class="row" id="mars-facts"></div>
        <div class="col-md-12">
            <div class="media">
                <div class="media-body">
                    <h2>Mars Hemispheres</h2>
                    <hr>
                </div>
            </div>
        </div>

        <!-- Use Cards to hold Mars Hemisphere photos  -->
        <!-- <div class="row" id="mars-hemispheres">
            {% for item in mars.hemispheres %}
            <div class='col-md-6 col-xs-12 pt-4'>
                <div class="card" style="width: 35rem;">
                    <img class="card-img-top img-fluid" src="{{ x.img_url }}">
                    <div class="card-body">
                        <h3 class="card-text"><b> {{ x.title}}</b></h3>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div> -->
    <!-- <div class="card" style="width: 18rem;">
        <img src={{ mars.hemispheres.img_url }} class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text"> {{mars.hemispheres.title}}</p>
        </div>
    </div> -->

    {{mars}}



</body>

</html>